p.icone{
    padding-left: 50px;
}


.tabela-interativa{
    border: 2px solid;
    padding: 10px;
    background-color: #242222;
    color: white;
    display: block;
    border-radius: 10px;
    width: 625px;
    transition: 300ms;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabela-interativa.fechada{
    width: 300px;
}
.tabela-interativa.fechada #tabela01 th{
     text-align: left;
     text-indent: 12%;
     transition: 200ms;
}

.tabela-interativa #tabela01{

    width: 600px;
}
.tabela-interativa #tabela01 th{
    text-align: center;
    padding: 10px;
}

.tabela-interativa #tabela01 td{
    padding: 10px;
}

.tabela-interativa #tabela01 th:nth-child(1){
    background-color: rgb(10, 10, 10);
}

.tabela-interativa .bg-escuro{
    background-color: rgb(15, 14, 14);
}
.tabela-interativa td span.rotate{
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    transform: rotate(180deg);
}
.tabela-interativa .bl-cyan{
    border-left: 2px solid cyan;
}
.tabela-interativa i{
    margin-right: 20px;
}
.tabela-interativa .text-cyan{
    color: cyan;
    font-weight: bold;
}
.tabela-interativa .text-yellow{
    color: yellow;
    font-weight: bold;
}

.tabela-interativa i.big{
    margin:0;
    font-size: 3rem;
    color: cyan;
}
.tabela-interativa i.big.white{
    color: white;
    font-size: 2rem;
}


ol.romana{
    list-style-type:upper-roman;
}

marker{
    background-color: yellow;
    padding: 5px;
}
.tabela-quadro1{
    width: 100%;
}

.tabela-quadro1 p{
    margin: 0;
    text-align: center;
}
.tabela-quadro1 .cor-azul{
    background-color:#1F6181;    
}

.tabela-quadro1 .cor-cinza01{
    background-color:#C7C8CA;
}
.tabela-quadro1 .cor-cinza02{
    background-color:#DCDDDF;
}
.tabela-quadro1 td{
    padding: 10px;
}

.tabela-quadro1 .text-azul{
    color:#1F6181;    
}
.tabela-quadro1 .bl-white{
    border-left: 1px solid white;
}

.tabela-quadro1 .bb-white{
    border-bottom: 1px solid white;
}

.legenda-tabela{
    border-bottom: 2px solid #A6B4BD ;
}

.legenda-tabela span{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 30px;
}
.legenda-tabela p{
    margin: 0;
}
.legenda-tabela .cor-cinza01{
    background-color:#C7C8CA;
}
.legenda-tabela  .cor-cinza02{
    background-color:#DCDDDF;
}

.rotateme{
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    transform: rotate(180deg);
}


.citacao {
    background-color: #113f58;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10vw;
    padding-left: 2vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bloco .citacao{
    border: 2px solid white;
}

.bloco .caixa{
   box-shadow: 0 0 0 10px white;
}

.rellax{
    z-index: 2;
    pointer-events: none;
    touch-action: none;
    -ms-touch-action: none;
}

h3{
    font-size: 1.6rem;
  }
  h4{
    font-size: 1.3rem
  }
  h5{
    font-size: 1.2rem
  }

  h3,h4,h5{
      font-weight: bold;
  }

  a[data-bs-toggle="tooltip"]{
    text-decoration: none;
    border-bottom: 2px dashed #214d50;
    color: #214d50;
    font-weight: bolder;
  }

  .bloco a[data-bs-toggle="tooltip"]{
      border-color: white;
  }

  .bt-rio:hover{
      box-shadow: 0 0 0 5px white;
      border-radius: 10px;
      transform: scale(1.1);
      transition: 100ms;
  }
  .btn-convencao{
      background-color: transparent;
  }
  .btn-convencao:hover{
    /*box-shadow: 0 0 0 5px #ff9700;
    background-color:#ff9700 ;
    border-radius: 10px;*/
    transform: scale(1.1);
    transition: 100ms;
}

figure figcaption, .legenda, .legenda-imagem{
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.figura-12-especial{
    background-image: url(../figuras/figura12_bg.png);
    width: 120px;
    height: 120px;
    display: block;
    margin: 1rem auto;
    position: relative;

}
.figura-12-especial .bt-eixo{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    transition: 200ms;
    transform-origin: center;
}
.figura-12-especial .bt-eixo:hover{
    transform: scale(1.5);
}
.figura-12-especial .bt-eixo.bt-eixo1{
    background-color: #fecb22;
    top: 10px;
    left: 50px;
}
.figura-12-especial .bt-eixo.bt-eixo2{
    background-color: #7bbe76;
    top: 39px;
    left: 90px;
}
.figura-12-especial .bt-eixo.bt-eixo3{
    background-color: #1dace4;
    top: 88px;
    left: 75px;
}
.figura-12-especial .bt-eixo.bt-eixo4{
    background-color: #f29337;
    top: 88px;
    left: 25px;
}
.figura-12-especial .bt-eixo.bt-eixo5{
    background-color: #f01da0;    
    top: 39px;
    left: 9px;
}
.icone.anotar{
    padding-left: 90px;
}
.icone.anotar::before{
    background-image: url(../img/icone_nota.png);
    background-size: contain;
    background-position: center;

}

.imagem-interativa{
    width: 620px;
    height: 670px;
    background-image: url(../img/painel_multiplicadores.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 10px white solid;
    border-radius: 10px;
}
.imagem-interativa:hover{
    background-image: url(../img/painel_multiplicadores_hover.png);
}



.slideshow01-tela{
    border: 3px solid #00838D;
    padding:10px;
    min-height: 350px;
}



/*
Flip card
*/

.flip-card {
    margin: 20px auto;
    background-color: white;
    width: Calc(300px * 1.5);
    height: Calc(331px * 1.5);
    border: 4px solid #f1f1f1;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 10px;
}

.flip-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-content {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

@media screen and (max-width:1366px){
    .rellax{
        max-width: 208px;
    }
    .flip-card {   
        width: Calc(300px * 1.2);
        height: Calc(331px * 1.2);      
    }
}

@media screen and (max-width:994px) {
    .flip-card {   
        width: Calc(300px * 1);
        height: Calc(331px * 1);      
    }
}


@media screen and (max-width: 700px){
    .imagem-interativa{
        width: Calc(620px * .65);
        height: Calc(670px* .65);
    }
}

@media screen and (max-width: 400px){
    .imagem-interativa{
        width: Calc(620px * .55);
        height: Calc(670px* .55);
    }
}


